.note {
    width: 250px;
    height: 250px;
    text-align: center;
    background-color: #FF3E00;
    border-radius: 10px;
    font-family: 'PoiretOne';
    color: black;
    padding:15px;
}
@font-face {
    font-family: PoiretOne;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/PoiretOne-Regular.ttf)
}

@font-face {
    font-family: PoiretOne;
    src: url(../fonts/PoiretOne-Regular.ttf);
}