.note {
    width: 250px;
    height: 250px;
    text-align: center;
    background-color: #EAEAEA;
    border-radius: 5px;
    font-family: 'PoiretOne';
    color: black;
    padding: 15px;
    box-shadow: 0px 0px 10px 1px #C2C2C2;
    position:absolute;
    z-index:1;
}
.note:hover {
    cursor: grab;
    cursor: -webkit-grab;
}
.note:active {
    cursor: grabbing;
    cursor:-webkit-grabbing;
}

#noteHolder{
    height:100%;
    width:100%; 
    position:absolute;
    overflow:hidden;
    z-index:0;
    top:0;
    left:0;
}
@font-face {
    font-family: PoiretOne;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/PoiretOne-Regular.ttf)
}

@font-face {
    font-family: PoiretOne;
    src: url(../fonts/PoiretOne-Regular.ttf);
}